<style>
    p {
        font-size: 22px;
    }
</style>
<p><b><strong>India</strong></b> has one of the longest military histories, dating back several millennia. The first reference
    to armies is found
    in the Vedas as well as the epics Ramayana and Mahabaratha. Classical Indian texts on archery in particular, and
    martial
    arts in general are known as Dhanurveda.</p>
<p>
<b> The Armed Forces have four main tasks:</b>
    <br>
    1.To assert the territorial integrity of India.<br>
    2.To defend the country if attacked by a foreign nation.<br>
    3.To support the civil community in case of disasters (e.g. flooding).<br>
    4.To participate in United Nations peacekeeping operations in consonance with India's commitment to the United
    Nations
    Charter.
</p>